<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<form action="/new" method="POST">
    <input name="username">
    <input name="password">
    <input name="displayName">
    <button type="submit">전송</button>
</form>
</body>
</html>